In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data={
    'Salary':[1.7,2.4,2.3,3.1,3.7,4.2,4.4,6.1,5.4,5.7,6.4,6.2],
    'Experience':[1.2,1.5,1.9,2.2,2.4,2.5,2.8,3.1,3.3,3.7,4.2,4.4]
}
df=pd.DataFrame(data)

In [3]:
df

    Salary  Experience
0      1.7         1.2
1      2.4         1.5
2      2.3         1.9
3      3.1         2.2
4      3.7         2.4
5      4.2         2.5
6      4.4         2.8
7      6.1         3.1
8      5.4         3.3
9      5.7         3.7
10     6.4         4.2
11     6.2         4.4

In [ ]:
x=df['Experience']
y=df['Salary']